<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contacts</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content padding>
    <ion-list>
      <ion-item-sliding *ngFor="let contact of myContacts">
        <ion-item routerLink="{{'/contacts/'+contact.id}}">
          <ion-avatar slot="start">
            <img *ngIf="contact.avatar" [src]="contact.avatar">
            <img *ngIf="!contact.avatar" src="/assets/imgs/avatar.png">
          </ion-avatar>
          <ion-label>{{ contact.name }} {{ contact.surname }}</ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option routerLink="{{'/contacts/'+contact.id}}" [queryParams]="{mode:'edit'}">
            <ion-icon name="create"></ion-icon>
            <ion-label>Edit</ion-label>
          </ion-item-option>
          <ion-item-option color="danger" (click)="removeContact(contact)">
            <ion-icon name="trash"></ion-icon>
            <ion-label>Delete</ion-label>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!-- Botones para add contacts -->
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button color="primary" routerLink="/contact">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>



