<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list style="padding:0px 20px;">
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" [(ngModel)]="user" > </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" > </ion-input>
  </ion-item>
</ion-list>
  <div style="padding: 20px 20px;">
  <ion-button color="primary" expand="block" (click)="doLogin()">Login</ion-button>
  </div>

</ion-content>
